<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series Tracker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Series Tracker</h1>
        <form action="/download_job">
<!--            <div class="form-group">-->
<!--                <input type="text" name="name" class="form-control" placeholder="Series Name">-->
<!--            </div>-->
            <button type="submit" class="btn btn-primary">Start Download Job</button>
        </form>
        <hr>
        <div class="row">
            {% for series in series %}
            <div class="col-md-4">
                <img src="{{ static_image(series._id + '.jpg') }}">
                <h2>{{ series.name }}: {{series._id}}</h2>
                {% if series.episodes %}
                <ul>
                    {% for episode_id in series.episodes %}
                        <li>{{ episodes[episode_id].category }} - {{ episodes[episode_id].name }} - {{ episodes[episode_id].follow }}
                            <form action="/toggle_episode/{{ series._id }}/{{ episodes[episode_id].category }}" method="POST">
                                <button type="submit" class="btn btn-secondary">Toggle Episode to DL List</button>
                            </form>
                            <form action="/download_episode/{{ episode_id }}" method="POST">
                                <button type="submit" class="btn btn-secondary">Download</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
