<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series Tracker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Series Tracker</h1>
        <form action="/add_series" method="POST">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Series Name">
            </div>
            <button type="submit" class="btn btn-primary">Add Series</button>
        </form>
        <hr>
        <div class="row">
            {% for series in series %}
            <div class="col-md-4">
                <h2>{{ series.name }}: {{series._id}}</h2>
                {% if series.episode %}
                <ul>
                    {% for category in series.episode.keys() %}
                        {% for episode_id, title in series.episode[category].items() %}
                            <li>{{ category }} - {{ title }} - {{ series.follow[category] }}
                                <form action="/toggle_episode/{{ series._id }}/{{ category }}" method="POST">
                                    <button type="submit" class="btn btn-secondary">Toggle Episode to DL List</button>
                                </form>
                                <form action="/download_episode/{{ series._id }}/{{ category }}/{{ episode_id }}" method="POST">
                                    <button type="submit" class="btn btn-secondary">Download</button>
                                </form>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
